html{
    width: 1280px;
    height: 1626px;
    background: #FFFFFF;
}
header{
    position: relative;
    width: 100vw;
    height: 90px;
    padding-left: 330px !important;
}
header nav li{
    display: inline;
}
header nav li a{
    display: inline-block;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FF0000;
    margin: 31.5px 0px 0px 30px;
}
.image-bg{
    display: block;
    background-size: cover;
    width: 1280px;
    height: 789px;
    margin: 0 auto;
}
.content{
    width: 1280px;
    height: 650px;

    font-family: 'Montserrat';
    font-style: normal;
    text-align: center;

    color: #373737;
}
.content h2{
    display: flex;
    align-items: flex-end;

    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 27px;
    letter-spacing: 3.3px;

    margin-left: 253px;
    margin-top: 48px;
}
.content p.first{
    width:1145px;

    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;

    margin-top:38px;
    margin-left: 67.5px;
}
.content p.second{
    width:1145px;

    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;

    margin-top:28px;
    margin-left: 67.5px;
}
.content button.get-started{
    width:191px;
    height:51px;

    margin-top:66px;

    background: #FF0000;
    border-radius: 4px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;

    color: #FFFFFF;
}

footer p.text{
    margin-left: 608px;
    margin-bottom: 29px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;

    color: #373737;
}